.App {
  text-align: center;
}

/* TODO */
.time_series__header {
  display: flex;
  justify-content: center;
  margin: 50px;
}

/* TODO */
.time_series__chart_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time_series__chart_row > * {
  margin: 0 50px;
}
